.top_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.logo_pic {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.nav_bar>ul {
    display: flex;
    margin: 0.5rem 3rem 0.5rem 0;
    gap: 3rem;
    color: white;
    list-style: none;
}

.nav_bar>ul>li>a {
    color: white;
    text-decoration: none;
}

.nav_bar>ul>li>a:hover {
    color: var(--color-primary);
    font-weight: bold;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 0.3rem;
    background: none;
    border: none;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

/* Media queries for small devices */
@media screen and (max-width: 650px) {
    .nav_bar {
        display: none;
        /* Hide the nav menu by default */
    }

    .hamburger {
        display: flex;
        /* Show the hamburger icon on small screens */
    }

    .nav_bar.show {
        display: flex;
        /* Show the nav menu when hamburger is clicked */
        flex-direction: column;
        position: absolute;
        top: 5rem;
        right: 1rem;
        background-color: #333;
        padding: 1rem;
        gap: 1.5rem;
        border-radius: 0.5rem;
        z-index: 10;
    }

    .nav_bar>ul {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        margin: 0;
    }

    .nav_bar>ul>li>a {
        font-size: 1.2rem;
    }
}